.container {
  position: relative;
  display: flex;
  width: 100vw;
  background-color: dodgerblue;
  background-image: url('../images/hero.jpg');
  margin-top: 15px;
  background-position: center;
  background-size: cover;
  height: 90vh;
}
.title {
  display: block;
  position: absolute;
  top: 30px;
  right: 60px;
  font-family: 'Manrope';
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  color: white;
}
